.adminWrapper {
    display: flex;
    min-height: 100vh;
}

.adminMain {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 0;
}

.adminContent {
    flex: 1;
    padding: 2.4rem;
}