.reportSectionHeader {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    gap: 1.6rem;
}

.reportSectionTitle {
    text-transform: uppercase;
    letter-spacing: 0.03em;
}