.paymentMethodsList {
    display: flex;
    flex-direction: column;
    margin-top: 1.6rem;
}

.paymentMethodItem {
    padding: 1.4rem 0;
    border-bottom: 1px solid var(--gray-border);
}

.paymentMethodItem:last-child {
    border-bottom: none;
}